In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [3]:
df= pd.read_csv('token_data.csv').drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
df.shape

(4917, 13)

In [4]:
df.head()

,index,name,title,url,banner_url,subscribers,active_accounts,score,text,word_c,number_letters,shortened_text,tokens
0,0,AskReddit,Ask Reddit...,/r/AskReddit/,https://b.thumbs.redditmedia.com/PXt8GnqdYu-9l...,25192935,134018,464436,"AskReddit has hit 25,000,000 subscribers! (ins...",11988,70274,"AskReddit has hit 25,000,000 subscribers! (ins...","['AskReddit', 'hit', '25,000,000', 'subscriber..."
1,1,news,"All news, US and international.",/r/news/,https://b.thumbs.redditmedia.com/WFgeymV_hst-g...,19267086,36157,718544,Epstein jail guards had been offered plea deal...,3046,21118,Epstein jail guards had been offered plea deal...,"['Epstein', 'jail', 'guard', 'offer', 'plea', ..."
2,2,funny,funny,/r/funny/,https://a.thumbs.redditmedia.com/9zfV0uAe-z008...,27133349,36266,836722,Subreddit Of The Month [November 2019]: /r/sud...,4456,28082,Subreddit Of The Month [November 2019]: /r/sud...,"['Subreddit', 'Month', 'November', '2019', '/r..."
3,3,AmItheAsshole,Am I the Asshole?,/r/AmItheAsshole/,NaN,1498468,27283,266584,AmItheButtface: Where do all the other posts g...,8865,50914,AmItheButtface: Where do all the other posts g...,"['amithebuttface', 'post', 'go?AITA', 'out', '..."
4,4,gaming,r/gaming,/r/gaming/,NaN,24119770,27405,1145960,Free Talk Friday!A note about suspected advert...,5837,35651,Free Talk Friday!A note about suspected advert...,"['Free', 'Talk', 'Friday!A', 'note', 'suspect'..."

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english', min_df=0.5, max_df=.98, ngram_range=(1,2))

In [6]:
 # Create a vocabulary and get word counts per comment
dtm = tfidf.fit_transform(df['text']) # Similiar to fit_predict

# Get feature names to use as dataframe column headers
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

In [7]:
# View Feature Matrix as DataFrame
dtm.head()

,10,100,11,12,15,18,20,2019,30,able,...,wish,won,work,working,world,worth,wrong,year,years,yes
0,0.023290,0.029743,0.009590,0.000000,0.004930,0.000000,0.009083,0.009780,0.009496,0.021051,...,0.083148,0.018218,0.051025,0.017980,0.088411,0.004927,0.032368,0.038793,0.033655,0.005089
1,0.026024,0.033235,0.032146,0.067036,0.066107,0.000000,0.030448,0.000000,0.031831,0.000000,...,0.000000,0.091603,0.024435,0.000000,0.029637,0.066062,0.031001,0.234073,0.225638,0.000000
2,0.014860,0.018978,0.000000,0.000000,0.018874,0.020100,0.034773,0.037441,0.036353,0.020148,...,0.037449,0.000000,0.125577,0.017209,0.067694,0.000000,0.053107,0.133661,0.048317,0.058449
3,0.006485,0.000000,0.008011,0.000000,0.000000,0.000000,0.007587,0.000000,0.015864,0.008792,...,0.000000,0.022827,0.109603,0.022530,0.000000,0.008231,0.030901,0.051848,0.035142,0.000000
4,0.036754,0.009388,0.018160,0.000000,0.028009,0.009943,0.008600,0.018520,0.008991,0.009966,...,0.027787,0.025874,0.055215,0.034049,0.025114,0.065309,0.000000,0.051423,0.143400,0.019275

In [8]:
from sklearn.neighbors import NearestNeighbors
# Fit on TF-IDF Vectors
nn  = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')

In [9]:
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [10]:
reddit_test = [""" Few people realize 61.8% of Lambda School students DO NOT have a Bachelor’s Degree.

Regardless, in less than a year they’re landing high-paying jobs in lasting careers. 

They pay nothing upfront, will only make payments at all for two years, and will never pay more than $30k.  """]

In [12]:
new = tfidf.transform(reddit_test)
nn.kneighbors(new.todense())[1][0]

array([2149, 1722, 4796, 2944, 2865])

In [13]:
import pickle
pickle.dump(nn, open('nn.pkl', 'wb'))

In [14]:
pickle.dump(tfidf, open('tfidf.pkl', 'wb'))