In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [2]:
df= pd.read_csv('token_data.csv').drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
df.shape

(4917, 13)

In [3]:
df.head()

,index,name,title,url,banner_url,subscribers,active_accounts,score,text,word_c,number_letters,shortened_text,tokens
0,0,AskReddit,Ask Reddit...,/r/AskReddit/,https://b.thumbs.redditmedia.com/PXt8GnqdYu-9l...,25192935,134018,464436,"AskReddit has hit 25,000,000 subscribers! (ins...",11988,70274,"AskReddit has hit 25,000,000 subscribers! (ins...","['AskReddit', 'hit', '25,000,000', 'subscriber..."
1,1,news,"All news, US and international.",/r/news/,https://b.thumbs.redditmedia.com/WFgeymV_hst-g...,19267086,36157,718544,Epstein jail guards had been offered plea deal...,3046,21118,Epstein jail guards had been offered plea deal...,"['Epstein', 'jail', 'guard', 'offer', 'plea', ..."
2,2,funny,funny,/r/funny/,https://a.thumbs.redditmedia.com/9zfV0uAe-z008...,27133349,36266,836722,Subreddit Of The Month [November 2019]: /r/sud...,4456,28082,Subreddit Of The Month [November 2019]: /r/sud...,"['Subreddit', 'Month', 'November', '2019', '/r..."
3,3,AmItheAsshole,Am I the Asshole?,/r/AmItheAsshole/,NaN,1498468,27283,266584,AmItheButtface: Where do all the other posts g...,8865,50914,AmItheButtface: Where do all the other posts g...,"['amithebuttface', 'post', 'go?AITA', 'out', '..."
4,4,gaming,r/gaming,/r/gaming/,NaN,24119770,27405,1145960,Free Talk Friday!A note about suspected advert...,5837,35651,Free Talk Friday!A note about suspected advert...,"['Free', 'Talk', 'Friday!A', 'note', 'suspect'..."

In [38]:
def vectorizer():
    # Instantiate vectorizer object
    tfidf = TfidfVectorizer(stop_words='english', min_df=0.025, max_df=.98, ngram_range=(1,2))
    
    # Create a vocabulary and get word counts per comment
    dtm = tfidf.fit_transform(df['tokens']) # Similiar to fit_predict

    # Get feature names to use as dataframe column headers
    dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

    return dtm,tfidf

In [41]:
# Instantiate
def neighbors(dtm, tfidf, text):
    # Fit on TF-IDF Vectors
    nn  = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
    nn.fit(dtm)
    new = tfidf.transform(text)
    return nn.kneighbors(new.todense())[1][0]

In [42]:
reddit_test = [""" Few people realize 61.8% of Lambda School students DO NOT have a Bachelor’s Degree.

Regardless, in less than a year they’re landing high-paying jobs in lasting careers. 

They pay nothing upfront, will only make payments at all for two years, and will never pay more than $30k.  """]

In [39]:
dtm, tfidf = vectorizer()

In [40]:
# View Feature Matrix as DataFrame
dtm.head()

,00,000,000 000,000 year,01,02,03,04,05,06,...,zen,zero,zip,zipper,zoe,zoey,zombie,zone,zoo,zoom
0,0.006188,0.023739,0.0204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.010885,0.0,0.0,0.007476,0.012651,0.000000,0.0
1,0.000000,0.099615,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
2,0.000000,0.026922,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.024948,0.0
3,0.000000,0.004938,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
4,0.006653,0.000000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.008038,0.000000,0.000000,0.0

In [43]:
neighbors(dtm, tfidf, reddit_test)

array([1173, 1845, 2571, 4065,  506])