In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('first_db.csv')
df.head()

,Unnamed: 0,sub_id,name,title,url,banner_url,subscribers,active_accounts,score,description
0,0,0,AskReddit,Ask Reddit...,/r/AskReddit/,https://b.thumbs.redditmedia.com/PXt8GnqdYu-9l...,25192935,134018,464436,r/AskReddit is the place to ask and answer tho...
1,1,1,news,"All news, US and international.",/r/news/,https://b.thumbs.redditmedia.com/WFgeymV_hst-g...,19267086,36157,718544,"/r/news is: real news articles, primarily but ..."
2,2,2,funny,funny,/r/funny/,https://a.thumbs.redditmedia.com/9zfV0uAe-z008...,27133349,36266,836722,Welcome to r/Funny: reddit's largest humour de...
3,3,3,AmItheAsshole,Am I the Asshole?,/r/AmItheAsshole/,NaN,1498468,27283,266584,A catharsis for the frustrated moral philosoph...
4,4,4,gaming,r/gaming,/r/gaming/,NaN,24119770,27405,1145960,A subreddit for (almost) anything related to g...

In [23]:
df = df.drop(columns=['Unnamed: 0'])

In [24]:
df.head()

,sub_id,name,title,url,banner_url,subscribers,active_accounts,score,description
0,0,AskReddit,Ask Reddit...,/r/AskReddit/,https://b.thumbs.redditmedia.com/PXt8GnqdYu-9l...,25192935,134018,464436,r/AskReddit is the place to ask and answer tho...
1,1,news,"All news, US and international.",/r/news/,https://b.thumbs.redditmedia.com/WFgeymV_hst-g...,19267086,36157,718544,"/r/news is: real news articles, primarily but ..."
2,2,funny,funny,/r/funny/,https://a.thumbs.redditmedia.com/9zfV0uAe-z008...,27133349,36266,836722,Welcome to r/Funny: reddit's largest humour de...
3,3,AmItheAsshole,Am I the Asshole?,/r/AmItheAsshole/,NaN,1498468,27283,266584,A catharsis for the frustrated moral philosoph...
4,4,gaming,r/gaming,/r/gaming/,NaN,24119770,27405,1145960,A subreddit for (almost) anything related to g...

In [6]:
import pymongo

In [25]:
client = pymongo.MongoClient("mongodb+srv://admin:password123456@cluster0-quyyq.mongodb.net/test?retryWrites=true&w=majority")
db = client.sub2

In [26]:
value = []
for i in df.values:
    doc = {'sub_id':i[0]}
    doc['name'] = i[1]
    doc['title'] = i[2]
    doc['url'] = i[3]
    doc['banner_url'] = i[4]
    doc['subscribers'] = i[5]
    doc['active_accounts'] = i[6]
    doc['score'] = i[7]
    doc['description'] = i[8]
    value.append(doc)

In [27]:
db.sub2.insert_many(value)

In [28]:
db.sub2.find({'sub_id':25})[0]

{'_id': ObjectId('5dd341378abe56836891bfeb'),
 'sub_id': 25,
 'name': 'confession',
 'title': 'Admit your wrongdoings. ',
 'url': '/r/confession/',
 'banner_url': nan,
 'subscribers': 1670667,
 'active_accounts': 2358,
 'score': 61581,
 'description': '/r/Confession is a place to admit your wrongdoings, acknowledge your guilt, and alleviate your conscience.'}